<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.android.firebase.xamxam">
    <application
        android:icon="@drawable/logo_xamxam_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_xamxam_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="be.android.firebase.xamxam.storages.StorageService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:name="be.android.firebase.xamxam.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>